<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12 bg-light">
            <div class="orderFrame d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 text-center mx-auto">
                            <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                            <h3 class="p-3 display-6 text-center">Your order is confirmed. Please pay Rs.
                                {{totalAmount}} in Cash</h3>
                            <h3 class="p-3 display-5 text-center">Order No. 
                                <span class="fw-bold">{{orderNumber}}</span></h3>
                            <h3 class="p-4 display-4 text-center">Thanks!</h3>
                        </div>
                    
                        <div class="p-4 d-flex justify-content-center">
                            <button (click)="goToMenu()" class="btn btn-primary btn-block text-uppercase rounded-pill shadow-sm">Order More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>